<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/parsing_library/static/bootstrap.min.css">

    <link type="image/x-icon" href="/parsing_library/books/иконка.jpg" rel="shortcut icon">

    <title>Books</title>
</head>
<body>
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination mt-4">
            {% if page_number == 1 %}
            <li class="page-item disabled"><a class="page-link" href="index{{page_number-1}}.html"
                                              tabindex="-1" aria-disabled="true">Назад</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="index{{page_number-1}}.html">Назад</a></li>
            {% endif %}
            {% for number_page in range(pages)%}
            {% if page_number == number_page+1 %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="index{{number_page+1}}.html">{{number_page+1}}
                    <span class="sr-only">(current)</span></a>
                {% else %}
            <li class="page-ite"><a class="page-link" href="index{{number_page+1}}.html">{{number_page+1}}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_number == pages %}
            <li class="page-item disabled"><a class="page-link" href="index{{page_number+1}}.html"
                                              tabindex="-1" aria-disabled="true">Вперед</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="index{{page_number+1}}.html">Вперед</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="row">
        {% for book_range in books_params%}
        {% for book in book_range%}
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src='/parsing_library/{{book.img_scr | urlencode}}' class="card-img" alt="Книга с названием {{book.title}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{book.title}}</h5>
                            <p class="card-text">{{book.author}}</p>
                            <div class="container mb-5">
                                <div class="row">
                                    {% for genre in book.genres%}
                                    <div class="col"><span class="badge badge-info">{{genre}}</span></div>
                                    {% endfor %}
                                </div>
                            </div>
                            <a href='/parsing_library/{{book.book_path | urlencode}}' target="_blank" rel="noopener noreferrer">Читать</a>
                                <link type="image/x-icon" href="/parsing_library/books/иконка.jpg" rel="shortcut icon">
                                <title>Books text</title>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="w-100"></div>
        {% endfor %}
    </div>
</div>
</body>


